<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:create id="fc_com_springsource_roo_exercisegoaltracker_domain_Goal" modelAttribute="goal" path="/goals" render="${empty dependencies}" z="BrNkBWTP8EKdACnCAlco7cHpSlo=">
        <field:input field="goalId" id="c_com_springsource_roo_exercisegoaltracker_domain_Goal_goalId" required="true" z="HUgVaa8zR/ou2NP1gX0ur9AXXQo="/>
        <field:input field="name" id="c_com_springsource_roo_exercisegoaltracker_domain_Goal_name" min="5" required="true" z="FblTrvXOnuALk/QYk6PTrpLvc1g="/>
        <field:datetime dateTimePattern="${goal_startdate_date_format}" field="startDate" id="c_com_springsource_roo_exercisegoaltracker_domain_Goal_startDate" required="true" z="jK6lnHTsjGB5mX0e14KdZQhKkI8="/>
        <field:datetime dateTimePattern="${goal_enddate_date_format}" field="endDate" id="c_com_springsource_roo_exercisegoaltracker_domain_Goal_endDate" required="true" z="RUR2BbxnW//D+JPd1Tz9IWigjEM="/>
        <field:input field="quantity" id="c_com_springsource_roo_exercisegoaltracker_domain_Goal_quantity" required="true" validationMessageCode="field_invalid_number" z="hJ+CQjikMSxe8AAWdWpnsKXWOZ0="/>
        <field:input field="unit" id="c_com_springsource_roo_exercisegoaltracker_domain_Goal_unit" min="1" required="true" z="BDLIXIQlvvaVkzLGf9EHiqAhs8w="/>
        <field:input field="progress" id="c_com_springsource_roo_exercisegoaltracker_domain_Goal_progress" validationMessageCode="field_invalid_number" z="JC8SqCtxQO0Gse0IKZ4Cyq387xs="/>
        <field:select field="priority" id="c_com_springsource_roo_exercisegoaltracker_domain_Goal_priority" items="${goalprioritytypes}" path="goalprioritytypes" required="true" z="zX9QW/RDpfuQq9poD7JJdx/UmpU="/>
    </form:create>
    <form:dependency dependencies="${dependencies}" id="d_com_springsource_roo_exercisegoaltracker_domain_Goal" render="${not empty dependencies}" z="RA2sBMNNcdCN28kveA5ABY04Keo="/>
</div>
